<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Solid Web App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}" 
                class="{% if request.path == '/' %}active{% endif %}">Home</a></li>

            <li><a href="{{ url_for('get_dashboard') }}" 
                class="{% if request.path.startswith('/dashboard') %}active{% endif %}">
                Dashboard Analitik</a></li>

            <li><a href="{{ url_for('predict_view') }}" 
                class="{% if request.path.startswith('/predict') %}active{% endif %}">
                Prediksi</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
