{% extends "base.html" %}
{% block title %}Predict Attrition{% endblock %}
{% block content %}
<h1>Laporan Analitik Produk</h1>
<div class="dashboard-container">
    <iframe width="1366" height="768" src="https://lookerstudio.google.com/embed/reporting/111f8f0c-1f7a-47b0-819d-2e533dcb64fa/page/CwAZF" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
</div>
{% endblock %}
